body{
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #1F7A8C;
}



.section1{
  float: left;
  width: 45em;
  margin: auto;
  border: .1em solid black;
}
.section2{
  float:right;
  width: 45em;
  margin: auto;
  border: .1em solid black;
}

.columnHeaders{
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  font-size:36px;
}
